$tooltip-wiggle-room: 18px;

.tooltip {
	&:focus {
		outline: none;
	}
}

.tooltip__trigger {
	position: relative;
	cursor: pointer;
	background-color: $green--pale;
	&:hover,
	.tooltip:focus &,
	.tooltip:focus-within & {
		background-color: darken($green--pale, 10%);

		&:before {
			content: "";
			position: absolute;

			left: 0;
			right: 0;
			top: -($tooltip-wiggle-room);
			bottom: -($tooltip-wiggle-room);
		}
	}
}

.tooltip__body {
	position: absolute;
	z-index: 1;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;

		left: -($tooltip-wiggle-room);
		right: -($tooltip-wiggle-room);
		top: -($tooltip-wiggle-room);
		bottom: -($tooltip-wiggle-room);
	}

	@include bp-below("m") {
		left: 10px;
		right: 10px;
		margin-top: 30px;
	}
	@include bp("m") {
		width: 400px;
		transform: translate(10px, -20px);
	}

	padding: 10px;
	margin: 10px 0; // Makes sure there's a gap before the top or bottom of page
	background: $white;
	border: 1px solid $grey;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba($black, 0.2);

	// visibility: hidden;
	// pointer-events: none;
	display: none;
	.tooltip:focus &,
	.tooltip:focus-within &,
	.tooltip:hover &,
	&:hover {
		// visibility: visible;
		// pointer-events: auto;
		display: inline-block;
	}
}