@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

form {
  margin: 0; }

p:last-child {
  margin-bottom: 0; }

html {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 18px;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif; }

.content p,
.p {
  display: block;
  margin: 18px 0; }
  .content p:first-child,
  .p:first-child {
    margin-top: 0; }
  .content p:last-child,
  .p:last-child {
    margin-bottom: 0; }

.content a,
.a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background: linear-gradient(to top, #aad5ff 0%, #aad5ff 3px, transparent 3.1px, transparent 100%); }
  .content a:hover, .content a:focus,
  .a:hover,
  .a:focus {
    background: linear-gradient(to top, #77bbff 0%, #77bbff 3px, transparent 3.1px, transparent 100%); }

.content blockquote,
.blockquote {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 30px; }
  .content blockquote:before,
  .blockquote:before {
    content: "“";
    font-size: 60px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0; }
  .content blockquote cite:before,
  .blockquote cite:before {
    content: "― "; }

.content ul, .content ol {
  padding-left: 20px; }
  .content ul > li, .content ol > li {
    margin: 9px 0; }

.content hr {
  margin: 36px 0;
  border: none;
  border-bottom: 1px solid #ccc; }

.content h4 {
  margin-bottom: 0; }
  .content h4 + p,
  .content h4 + .p {
    margin-top: 0; }

@media print {
  .content a,
  .a {
    background: none;
    border-bottom: 3px solid #aad5ff; }
  a[href^="http"]:after,
  a[href^="mailto"]:after,
  a[href^="tel"]:after {
    content: " [" attr(href) "]";
    overflow-wrap: break-word; } }

body {
  padding: 60px 0 160px; }

.layout {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px; }

.layout--wide {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px; }

.tooltip:focus {
  outline: none; }

.tooltip__trigger {
  position: relative;
  cursor: pointer;
  background-color: #aaffd5; }

.tooltip__trigger:hover,
.tooltip:focus .tooltip__trigger {
  background-color: #77ffbb; }
  .tooltip__trigger:hover:before,
  .tooltip:focus .tooltip__trigger:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    bottom: -18px; }

.tooltip_focus .tooltip__trigger {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px; }
  @supports (outline-style: auto) {
    .tooltip_focus .tooltip__trigger {
      outline-style: auto; } }

.tooltip:focus-within .tooltip__trigger {
  background-color: #77ffbb;
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px; }
  .tooltip:focus-within .tooltip__trigger:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    bottom: -18px; }
  @supports (outline-style: auto) {
    .tooltip:focus-within .tooltip__trigger {
      outline-style: auto; } }

.tooltip__body {
  position: absolute;
  z-index: 1;
  padding: 10px;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: none; }
  .tooltip__body:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -18px;
    right: -18px;
    top: -18px;
    bottom: -18px; }
  @media (max-width: 767px) {
    .tooltip__body {
      left: 10px;
      right: 10px;
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .tooltip__body {
      width: 400px;
      transform: translate(10px, -20px); } }

.tooltip__body:hover,
.tooltip:focus .tooltip__body,
.tooltip:hover .tooltip__body {
  display: inline-block; }

.tooltip:focus-within .tooltip__body {
  display: inline-block; }

.tooltip.tooltip--hidden .tooltip__body {
  display: none; }

.tooltip--block .tooltip__body {
  transform: none;
  left: 20px;
  width: calc(100% - 40px);
  margin-top: 44px; }

@media print {
  .tooltip__body {
    position: static;
    display: block !important;
    width: auto;
    margin-top: 25px; }
    .tooltip__body:before, .tooltip__body:after {
      display: none; } }

.expander__trigger {
  cursor: pointer; }
  .expander__trigger:before {
    content: "-";
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%; }
  .expander[aria-expanded="false"] .expander__trigger:before {
    content: "+"; }
  .expander__trigger:focus {
    outline: none; }
    .expander__trigger:focus:before {
      outline-color: #4d90fe;
      outline-offset: -2px;
      outline-style: solid;
      outline-width: 2px;
      background: #ddffee; }
      @supports (outline-style: auto) {
        .expander__trigger:focus:before {
          outline-style: auto; } }

.expander__body {
  display: block;
  padding-bottom: 50px; }
  .expander[aria-expanded="false"] .expander__body {
    display: none; }

@media print {
  .expander__trigger:before {
    display: none; }
  .expander__body {
    display: block !important; } }

.article-meta {
  color: #666;
  font-size: 0.75em; }
  .article-meta:after {
    content: "";
    display: table;
    clear: both; }

.article-meta__author {
  float: left; }

.article-meta__date {
  clear: right;
  float: right; }

.counter {
  padding-left: 30px;
  counter-reset: counter-items; }
  .counter .counter__item:before {
    counter-increment: counter-items;
    content: counter(counter-items);
    color: #999;
    position: absolute;
    transform: translateX(-100%);
    margin-left: -10px; }
  .counter .counter__increment {
    counter-increment: counter-items; }
